name: CI

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup dotnet
        id: setup-dotnet
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: src/global.json

      - name: Setup wix
        run: |
          dotnet.exe tool install --global wix --version 6.0.2 --verbosity diag

          wix.exe extension add WixToolset.UI.wixext/6.0.2 --global
          wix.exe extension list --global

      - name: Generate version properties
        id: version
        run: |
          $pattern = '^(?<major>0|[1-9]\d*)\.(?<minor>0|[1-9]\d*)\.(?<patch>0|[1-9]\d*)(?:-(?<prerelease>(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+(?<buildmetadata>[0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$'
          $tag = git.exe describe --tags --abbrev=0
          $regex = [Text.RegularExpressions.Regex]::Match($tag, $pattern)
          if (!$regex.Success)
          {
            throw 'Failed to parse tag.'
          }

          'version={0}.{1}.{2}' -f $regex.Groups['major'].Value, $regex.Groups['minor'].Value, $regex.Groups['patch'].Value |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'version-major={0}' -f $regex.Groups['major'].Value |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'version-minor={0}' -f $regex.Groups['minor'].Value |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'version-patch={0}' -f $regex.Groups['patch'].Value |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'version-prerelease={0}' -f $regex.Groups['prerelease'].Value |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'version-buildmetadata={0}' -f $regex.Groups['buildmetadata'].Value |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'version-full={0}' -f $regex.Groups[0].Value |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append

      - name: Run tests
        run: |
          cd .\src
          dotnet.exe test --project .\Tests\Tests.csproj --configuration Release --output Detailed

      - name: Clean solution
        run: dotnet.exe clean .\src\PSDataProtection.slnx --configuration Release

      - name: Publish project
        run: dotnet.exe publish .\src\PSDataProtection\PSDataProtection.csproj --configuration Release --output .\publish

      - name: Prepare release
        run: Remove-Item ./publish/* -Include *.pdb,*.xml -ErrorAction Stop

      - name: Generate PowerShell help
        run: |
          Install-Module -Name platyPS -Force -Confirm:$false -ErrorAction Stop
          Import-Module ./publish/PSDataProtection.psd1 -ErrorAction Stop
          Update-MarkdownHelp ./docs -UpdateInputOutput -Force -ErrorAction Stop
          New-ExternalHelp ./docs -OutputPath ./publish -ErrorAction Stop

      - name: Build installer
        run: |
          wix.exe `
            build `
            -arch x64 `
            -src src\Product.wxs `
            -d ProductSource="$(Resolve-Path ./publish)" `
            -d ProductVersion="${{ steps.version.outputs.version }}" `
            -d ProductVersionFull="${{ steps.version.outputs.version-full }}" `
            -ext WixToolset.UI.wixext `
            -out ps-data-protection.msi

      - name: Validate installer
        run: wix.exe msi validate ps-data-protection.msi

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ps-data-protection
          path: |
            ./docs/
            ./ps-data-protection.msi
          if-no-files-found: error

      - name: Install msi
        run: |
          $process = Start-Process msiexec.exe -ArgumentList '/i','ps-data-protection.msi','/qn' -Wait -NoNewWindow -PassThru -ErrorAction Stop
          if ($process.ExitCode -ne 0)
          {
              throw 'Non zero exit code: "{0}".' -f $process.ExitCode
          }

      - name: Test module
        shell: powershell
        run: |
          $PSVersionTable

          $secret = 'Hello World!'
          $secureString = ConvertTo-SecureString $secret -AsPlainText -Force -ErrorAction Stop
          $protected = New-DataProtectionSecret -SecureString $secureString -Scope CurrentUser -ErrorAction Stop
          $unprotected = Read-DataProtectionSecret -Protected $protected -Scope CurrentUser -ErrorAction Stop
          $unprotected
          if ($secret -ne $unprotected) { throw }

      - name: Publish release
        if: github.ref_type == 'tag'
        run: gh.exe release create ${{ steps.version.outputs.version-full }} --title ${{ steps.version.outputs.version-full }} --notes 'PowerShell data protection module.' ps-data-protection.msi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
